@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --text-color: #42140e;
}

/* mobile view */

.RewardPage {
  padding: 4.2vw;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  gap: 4.5vw;
  background: linear-gradient(var(--themeColor1), #fff 35%, var(--themeColor1));

  .reward_page_heading {
    gap: 2.1vw;
    h2 {
      font-size: 3.4vw;
      color: var(--text-color);
    }
  }

  .context_text {
    padding: 1.4vw;
    gap: 2.3vw;
    p {
      color: var(--text-color);
      text-align: center;
      display: inline-block;
    }
  }

  .insta_img {
    width: 30vw;
  }
  .main_img {
    width: 100%;
  }
  .product_slider {
    /* border: 1px solid red; */
    align-items: flex-start;
    gap: 2.2vw;
    h2 {
      font-size: 3.4vw;
      color: var(--text-color);
    }
    .product_box_wrapper {
      /* border: 1px solid red; */
      gap: 1.5vw;
      .product_card {
        width: 100%;
        border: 1px solid #f6f0e3;
        border-radius: 0.5vw;
        background-color: #fff;
        padding: 1.5vw;
        .card_img {
          width: 100%;
          height: 28vw;
        }
        .product_card_text {
          img {
            height: fit-content;
          }
          p {
            font-size: 12px;
            text-wrap: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          button {
            width: 100%;
            font-size: 12px;
            outline: none;
            border: none;
            background-color: transparent;
            color: var(--text-color);
          }
        }
      }
    }
  }
  button {
    width: 20vw;
    padding: 1.4vw 2vw;
    font-size: 3.4vw;
    border-radius: .5vw;
    color: #fff;
    background-color: var(--text-color);
    outline: none;
    border: none;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
  }
}


/* tablet view */

@media all and (min-width:480px) {
  .RewardPage{
    /* border: 1px solid red; */
    .reward_page_heading {
      h2{
        font-size: 2.3vw;
      }
    }
    .context_text{
      /* border: 2px solid red; */
      gap: 1.3vw;
    }

    .insta_img {
      width: 20vw;
    }
    .main_img{
      width: 70%;
      /* border: 1px solid red; */
    }
    
    button{
      width: 18vw;
      padding: 1.4vw 1.2vw;
      font-size: 2.4vw;
    }

  }
}

/* laptop view */
@media all and (min-width:991px){
  .RewardPage{
    background:none;
    gap: 2vw;
    .logoContainer {
      width: 8vw;
    }
    .reward_page_heading {
      /* border: 1px solid red; */
      gap: 1vw;
      h2{
        font-size: 1.6vw;
      }
    }
    .context_text{
      /* border: 2px solid red; */
      gap: 1.3vw;
    }

    .insta_img {
      width: 12vw;
    }
    .main_img{
      width: 35%;
      /* border: 1px solid red; */
    }
    
    button{
      width: 13vw;
      padding: .7vw 1vw;
      font-size: 1.4vw;
    }

  }
}