@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --text-color:#42140E;
}


.RewardPage {
  /* border: 1px solid red; */
  padding: 4.2vw;
  font-family: "Montserrat", sans-serif;
  /* font-optical-sizing: auto; */
  /* font-weight: <weight>; */
  font-style: normal;
  font-weight: 500;

.reward_page_heading{
  /* border: 2px solid red; */
  margin: 4vw auto 6vw auto;
   h2{
    font-size: 3.4vw;
    color: var(--text-color);
  }
}

.context_text{
  /* border: 2px solid red; */
  padding: 1.4vw;
  p{
    color:var(--text-color) ;
    text-align: center;
    display: inline-block;
    padding: 2vw 0;
  }
  img{
    width: 20vw;
  }
}

  .insta_img{
    padding: 2.4vw 0;
    img{
      width: 40vw;
      /* border: 2px solid red; */
    }
  }
.main_img{
  margin: 4vw auto;
}
  .product_slider{
    padding: 4vw 0;
    h2{
      font-size: 3.4vw;
      color: var(--text-color);
    }
    .product_box_wrapper{
      padding-top: 1.6vw;
      gap: 1.5vw;
      
      /* border: 2px solid red; */
      margin: 3vw auto;
      .product_card{
        /* border: 1px solid red; */
        width: 100%;
        
        border: 1px  solid #f6f0e3;
        border-radius: .5vw;
        background-color: #fff;
        padding: 1.5vw;

        .card_img{
          width: 100%;
          height: 28vw;
        }
        
        .product_card_text{
          /* height: 30vw; */
          /* border: 2px solid red; */
          img{
           height: fit-content;
          }
          padding: 1vw 0;
          p{
            font-size: 12px;
            text-wrap: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          button{
            width: 100%;
            font-size: 12px;
            /* border: 2px solid red !important; */
            padding: 0;
            outline: none;
            border: none;
            background-color: transparent;
            margin-top: 1.4vw;
            color: var(--text-color);
          }
        }
      }
    }
  }

  button{
    width: 20vw;
    padding: 1.4vw 2vw;
    font-size: 3.4vw;
    border-radius: 1vw;
    color: #fff;
    background-color: var(--text-color);
    outline: none;
    border: none;
    font-family: "Montserrat", sans-serif;

  }

}