.Cards {
  border: 1px solid black;
  gap: 3vw;
  flex-wrap: wrap;
  padding: 4vw;
  .cardContainer {
    .imgContainer {
      cursor: pointer;
      width: 20vw;
      position: relative;
      .cardFront {
        position: absolute;
        top: 0;
        left: 0;
        transform: rotateY(0deg);
        transition: all ease-in 0.2s;
        transition-delay: 0.2s;
        border-radius: 1vw;
      }
      .cardBack {
        transform: rotateY(90deg);
        transition: all ease-in 0.2s;
        border-radius: 1vw;
      }
    }
    .flipped {
      .cardFront {
        transform: rotateY(90deg);
        transition-delay: 0s;
      }
      .cardBack {
        transform: rotateY(0deg);
        transition-delay: 0.2s;
      }
    }
  }
}
