.Header {
  height: 24vw;
  justify-content: flex-start !important;
  position: relative;
  background-color: var(--themeColor1);

  .headerImg {
    width: 100%;
  }

  .logoContainer {
    width: 20vw;
    position: absolute;
    bottom: 0;
  }
}
