.Header {
  height: 26vw;
  justify-content: flex-start !important;
  position: relative;

  .headerImg {
    width: 100%;
  }

  .logoContainer {
    width: 25vw;
    position: absolute;
    bottom: 0;
  }
}
