/* mobile view */
.Footer {
  background-color: var(--themeColor1);
  .imgContainer {
    width: 100%;
  }
}

/* tablet view */
@media all and (min-width: 480px) {
  .Footer {
    .imgContainer {
      width: 100%;
    }
  }
}
