/* mobile view */

:root {
  --themeColor1: #ffe7dc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  width: 100vw;
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: var(--themeColor1);
}

img {
  height: 100%;
  width: 100%;
}

/* akshay */
h1 {
  font-size: 9vw;
  text-align: center;
}

/* pranjal */
h2 {
  font-size: 2.5vw;
}

/* h3 {
  font-size: 1.5vw;
} */

/* pranjal */
.txt1 {
  font-size: 4vw;
}

/* akshay */
.txt2 {
  font-size: 4.2vw;
  text-align: center;
}

.flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
