:root {
  --text-color: #42140e;
}

.HomePage {
  background: linear-gradient(var(--themeColor1), #fff 35%, var(--themeColor1));
  gap: 8vw;
  padding: 4vw 6vw;
  .header {
    gap: 3vw;

    .content_text {
      gap: 4vw;
      strong {
        font-weight: 600;
      }
    }
  }

  .product_image {
    width: 100%;
  }

  .how_to_play_wrapper {
    gap: 3vw;
    h2 {
      text-align: center;
      color: var(--text-color);
    }

    ul {
      gap: 2vw;
      align-items: flex-start;
      padding-left: 4vw;
      li {
        text-align: left !important;
        font-weight: 500;
        position: relative;
        &::before {
          content: "•";
          position: absolute;
          left: -2.5vw;
          color: var(--text-color);
          font-weight: 500;
        }
      }
    }
  }

  .user_form {
    width: 100%;
    padding: 5vw;
    background-color: #fff;
    border-radius: 2vw;
    margin-bottom: 2vw;
    align-items: flex-start;
    gap: 5.5vw;
    .input_field {
      width: 100%;
      align-items: flex-start;

      label {
        font-weight: 500;
      }

      input {
        padding: 2vw;
        outline: none;
        width: 100%;
        border: none;
        border: 0.15vw solid rgba(0, 0, 0, 0.2);
        border-radius: 1.1vw;
        margin-top: 2vw;
        text-align: left !important;
      }
    }

    button {
      background-color: #42140e;
      padding: 2.8vw 0;
      width: 100%;
      color: #fff;
      outline: none;
      border: none;
      border-radius: 1.2vw;
    }
  }
}
